.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.logo h2{
    display: inline-block;
    color: white;
}
.logo{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.add-city{
    margin-top: 30px;
    width: 50%;
    height: 40px;
}
.add-city input{
    font-size: medium;
    padding: 0 8px;
    width: 80%;
    height: 40px;
    color: white;
    background-color: #191919;
    border: none;
    border-radius: 5px;
}

.add-city input:focus{
    outline: none;
}

.add-city button{
    width: 20%;
    height: 100%;
    font-size: medium;
    color: white;
    background-color: #5D3FD3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-city button:hover{
    background-color: #6D3fD9;
}

@media screen and (min-width:1280px){
    .add-city{
        width: 33.33%;
    }
}
@media screen and (max-width:768px){
    .add-city{
        width: 80%;
    }
}
@media screen and (max-width:460px) {
    .add-city{
        width: 95%;
    }
    .add-city input{
        width: 70%;
    }    
    .add-city button{
        width: 30%;
    }
}