.footer{
    width : 100%;
    background-color: rgba(54, 54, 65, 1);
    padding: 15px;
    text-align: center;
}
.footer p{
    font-size: 18px;
}
.footer .credit{
    font-size: smaller;
    color:skyblue;
    line-height:1.8;
}